.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    background: orange;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.rubik{
    font-family: "Rubik Pixels";
    font-weight: 400;
    font-style: normal;
}
.Sedgwick{
    font-family: "Sedgwick Ave Display";
    font-weight: 400;
    font-style: normal;
}
.Dancing{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Indie{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}