p {
    font-size: 25px;
    margin-left: 35px;
    color: whitesmoke;
}
h1 {
    color: whitesmoke;
}
span{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}
hr {
    color:rgb(62, 62, 62);
    clear: both;
}
img{
    width: 200px;
    margin-left: 25px;
    float:left;
     margin-right:20px;
      border-radius:10px;
}