@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/*---------------header------------*/
.active-link{
    color: lightgreen;
}
header{
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Orbitron", sans-serif;
}
header div{
    text-align: center;
}
header div h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 30px;
}
header nav a{
    color: gray;
    font-size: 25px;
}
/*---------------------main---------------*/
.main__home{
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    padding-top: 50px;
}
.main__home p{
    font-size: 20px;
}
.main__home h1{
    font-size: 100px;
    letter-spacing: 30px;
}
.main__home button{
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 25px;
    transition: 2s;
}
.main__home button:hover{
    transform: scale(1.1);
    transition: 2s;
    color: green;
}