*{
    margin: 0;
    padding: 0;
}
header{
    height: 50vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
footer{
    height: 50vh;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
section p{
    width: 80%;
}