*{
    margin: 0;
    padding: 0;
}
header, footer{
    height: 10vh;
    width: 100vw;
    background-color: #D9D9D9;
}
main{
    display: flex;
}
aside{
    height: 80vh;
    width: 15vw;
    background-color: #C0BDBD;
}
section{
    height: 80vh;
    width: 70vw;
    background-color: #A4A4A4;
}