*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    height: 70vh;
    width: 100vw;
    color: white;
}
header{
    height: 15vh;
    width: 100vw;
    background-color: #8D8484;
    color: black;
}
footer{
    height: 15vh;
    width: 100vw;
    background-color: #BDBDBD; 
    color: black;
}
div{
    width: 80vw;
}
aside{
    width: 20vw;
}
.top{
    height: 33.3%;
    background-color: #776969;
}
.mid{
    height: 33.3%;
    background-color: #643030;
}
.bot{
    height: 33.4%;
    background-color: #441818;
}
.spam-1{
    height: 50%;
    background-color: #937575;
}
.spam-2{
    height: 50%;
    background-color: #644C4C;
}
section, header, footer{
    display: flex;
    align-items: center;
    justify-content:center ;
}