*{
    margin: 0;
    padding: 0;
}
/* -----------------------------------------------HEADER------------------------------------------ */
header{
    background-color: #D9D9D9;
    height: 5vh;
    width: 100vw;
}
/*---------------------------------------------MAIN----------------------------------------------- */
main{
    display: flex;
    height: 80vh;
    width: 100vw;
}
.left{
    height: 100%;
    width: 33%;
    background-color: #A4A4A4;
}
.middle{
    height: 100%;
    width: 33%;
    background-color: #C1C1C1;
}
div{
    height: 100%;
    width: 34%;
}
.main-aside-top{
    height: 50%;
    width: 100%;
    background-color: #7F7A7A;
}
.main-aside-bottom{
    height: 50%;
    width: 100%;
    background-color: #6B6161;
}
/*------------------------------------------ FOOTER -------------------------------------------*/
footer{
    height: 15vh;
    width: 100vw;
    background-color: #D9D9D9;
}