header{
    height: 70vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    height: 50vh;
    width: 33%;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 70vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}