h1{
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 25px;
    text-align: center;
}
img{
    height: auto;
    width: 100px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color: bisque;
    border-radius: 50px;
    border: 3px solid gray;
}
.card:hover{
    transition: 0.5s;
    border-radius: 20px;
    border: 3px solid rgb(183, 178, 178);
}