body{
    background-color: bisque;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.block{
    height: 100px;
    width: 100px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block:hover{
    border-radius: 100%;
    background: gray;
    transition: 1.5s;
}