*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "left mid right-up"
    "left mid right-down"
    "footer footer footer"
    ;
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left{
    grid-area: left;
    background: #A4A4A4;
}
.mid{
    grid-area: mid;
    background: #C1C1C1;
}
.right-up{
    grid-area: right-up;
    background: #7F7A7A;
}
.right-down{
    grid-area: right-down;
    background: #6B6161;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}