p {
    color: gray;
}
span {
    color: black;
    background-color: rgb(215, 208, 208);
    display: inline-block;
    text-align: center;
    width: 25px;
}
span1 {
    color: red;
    background-color: rgb(215, 208, 208);
    display: inline-block;
    text-align: center;
    width: 25px;
}